body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #00704a;
    color: white;
    padding: 10px 20px;
    height: 120px;
}

header img{
    position: absolute;
    left: -100px;
    top: -30px;
    /* border: 1px solid black; */
    width: 350px;
}

h1 {
    margin: 0;
    position: relative;
    left: 150px;
    top: 20px;
}

nav{
    position: relative;
    left: 150px;
    top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: left;
    font-size: 25px;
    color: rgb(212, 212, 212);
    padding: 50px;
    height: 600px;
    background-image: url(/ProjectCafe/imgs/스타벅스.jpg);
    background-position: center;
    background-size: cover;
    
}

.hero h2, .hero p{
    position: relative;
    top: 300px;
    right: 1000px;
}

.hero:hover h2{
    transition: 1.5s;
    right: 0px;
}
.hero:hover p{
    transition: 2s;
    right: 0px;
}

.sliderWrap {
    display: flex; /* 슬라이더를 가로로 배치 */
    justify-content: space-between; /* 슬라이더 사이의 간격을 조절 */
    /* border: 3px solid black; */
}

.products {
    flex: 1; /* 각 제품 섹션이 동일한 너비를 갖도록 설정 */
    margin: 10px; /* 각 섹션 사이의 간격을 추가 */
    /* border: 3px solid black; */
    text-align: center;
}


.img{
    /* border: 3px solid black; */
    height: 350px;
    width: 400px;
}

/* .product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
} */

.slider {
    position: relative;
    overflow: hidden;
    height: 400px; /* 슬라이더의 높이 설정 */
    /* border: 1px solid black; */
}

.slide {
    position: absolute; /* 모든 슬라이드를 겹치게 하기 위해 절대 위치 사용 */
    width: 100%; /* 슬라이드 너비를 100%로 설정 */
    opacity: 0;
    transition: opacity 1s ease; /* 2초 동안 부드러운 전환 효과 추가 */
    top: 0; /* 슬라이드의 위치를 맞추기 위해 설정 */
}

.slide.active {
    opacity: 1; /* 활성화된 슬라이드는 보이도록 설정 */
}

.slide img {
    max-width: 100%;
    border-radius: 5px;
    /* height: auto; 이미지 비율 유지 */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00704a;
    color: white;
    position: absolute;
    bottom: -600px;
    width: 100%;

}
